<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Arisa-chan!</title>
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='favicon.jpg') }}"/>

    <!-- jQuery, Popper, Bootstrap JS, Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='narrow-jumbotron.css') }}" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="container">

      <div class="header clearfix" style="border-bottom: none">
        <nav>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=357879698254200833&scope=bot&permissions=0">Add to Discord</a>
            </li>
          </ul>
        </nav>
        <img src="{{ url_for('static', filename='arisa.jpg') }}" width=50px class="rounded-circle float-left" alt="Arisa-chan!" style="margin-left: 5px; margin-right: 5px">
        <h3> Arisa-chan! <span style="color:#207a3a;font-size:1.0rem">@Arisa#1546</span>
        </h3>
      </div>
      
      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        {% block tablist %}
        {% include 'tablist.html' %}
        {% endblock %}
      </ul>
      <br />
      <div class="tab-content" id="myTabContent">
        {% block content %}
        {% include 'sv.html' %}
        {% include 'kr.html' %}
        {% include 'other.html' %}
        {% endblock %}
      </div>

      <footer class="footer">
        <p class="text-center">
          Data via <a target="_blank" href="https://sv.bagoum.com/">Bagoum</a> and <a target="_blank" href="https://maskofgoblin.com/">Mask of Goblin</a>. 
          Commands last updated: 1 Dec 2018
        </p>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
