{% block content %}
        <div class="tab-pane fade" id="kr" role="tabpanel" aria-labelledby="kr-tab">
          <div class="row">
            <div class="col-lg-6">
              <h4>Hero search</h4>
              <p>To search by hero name:<br />
                <code>!kr jane</code><br />
                <code>!kr medi</code>
              </p>
              <h4>Artifact search</h4>
              <p>
                You can use initials and/or truncations, but there are some limits. If you include uppercase letters, the search will be case-sensitive.<br />
                <code>!kr nail</code><br />
                <code>!kr ssw</code><br />
                <code>!kr gol ma --&gt; won't find Golden Mask!</code>
              </p>
              <h4>MP/Attack info</h4>
              <p>
                To get a small summary for MP/attack values:<br />
                <code>!mpatk 675</code><br />
              </p>
            </div>

            <div class="col-lg-6">
              <h4>Announcements</h4>
              <p>
                You can subscribe to alerts for new GM posts in the 
                <a target="_blank" href="https://www.plug.game/kingsraid/1030449/">KR Plug</a>
                using the command <code>!startann krplug</code>. For more info on Announcements commands, check the <em>Others</em> tab.
              </p><p>
                The <code>krplug</code> topic alerts for new posts in the GM-only forums, such as <a target="_blank" href="https://www.plug.game/kingsraid/1030449/posts?menuId=1">Notice</a>, <a target="_blank" href="https://www.plug.game/kingsraid/1030449/posts?menuId=9">Patch Note</a>, and <a target="_blank" href="https://www.plug.game/kingsraid/1030449/posts?menuId=32">Game Content</a>.
              </p>
            </div>
          </div>
        </div> <!-- tab-content -->
{% endblock %}
