{% block content %}
        <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">
          <div class="row">
            <div class="col-lg-6">
              <h4>Danbooru search</h4>
              <p>Searching SFW and NSFW, which feature automatic tag completion:<br />
                <code>!cute aya_shachou</code><br />
                <code>!lewd belfast</code><br />
              </p><p>
                The search applies biases for certain copyrights, such as <a href="https://danbooru.donmai.us/posts?tags=annette_(king%27s_raid)"><code>(king's_raid)</code></a>. This helps to filter out astroturfing single-post tags like <a href="https://danbooru.donmai.us/posts?tags=annette"><code>annette</code></a>, or copyrights we care less about (like <code>kantai_collection</code>, too bad KCfags).<br />
                <code>!cute prinz --&gt; won't match <a href="https://danbooru.donmai.us/posts/2620616">the artist</a></code><br />
              </p><p>
                The bias also avoids accidental matches for <code>(cosplay)</code> tags. If you actually want that, include it in your query:<br />
                <code>!cute atago_(azur_lane)_(cosplay) </code><br />
              </p><p>
                There's tag aliases too. For example, "dookie" resolves to "shimamura_uzuki" here:<br />
                <code>!cute dookie</code><br />
              </p><p>
                Use this to see what candidates the tag completion and aliases resolve to:<br />
                <code>!tags hand_on</code><br />
              </p><p>
                Or search without completion:<br />
                <code>!dan prinz --&gt; matches the artist</code><br />
                <code>!dan dookie --&gt; aliases still apply</code><br />
              </p>
            </div>

            <div class="col-lg-6">
              <h4>Announcements</h4>
              <p>
                Arisa can announce notifications when a particular site updates. 
                Announcements are grouped by topics, and have to be enabled for each channel you want Arisa to announce to.
              </p><p>
                To control announcements:<br />
                <code>!listann</code><br />
                <code>!startann topicname</code><br />
                <code>!stopann all</code>
              </p>
              <h4>Misc commands</h4>
              <p>
                Just some other commands for convenience:<br />
                <code>!roll d20</code><br />
                <code>!roll 3d5</code><br />
                <code>!help --&gt; links here!</code>
              </p>
            </div>





            </div>
          </div>
        </div> <!-- tab-content -->
{% endblock %}
