{% block content %}
        <div class="tab-pane fade show active" id="sv" role="tabpanel" aria-labelledby="sv-tab">
          <div class="row">
            <div class="col-lg-6">
              <h4>Card search</h4>
              <p>To search by card name:<br />
                <code>!sv belph</code><br />
                <code>!sv vvp</code>
              </p><p>
                You can use initials and/or truncations, but there are some limits.<br />
                You must provide the first letter of every word for initials to work.<br />
                <code>!sv gobl ma --&gt; won't find Goblin Mage!</code><br />
                <code>!sv bnb &nbsp;&nbsp;&nbsp;&nbsp;--&gt; won't find BatB!</code><br />
              </p><p>
                To search by filters:<br />
                <code>!sv |bloodcraft |follower |restore</code>
              </p><p>
                Using both name and filters:<br />
                <code>!sv medusa |foll |star</code><br />
                <code>!sv moon |totg |amulet</code>
              </p>


              <h4>Card art search</h4>
              <p>
                You can only search by name for card art, initials work here too.<br />
                <code>!svart saha</code><br />
                <code>!svart qotds</code>
              </p>
            </div>

            <div class="col-lg-6">
              <h4>Filters</h4>
              <p>
                Filters are separated by a <code>|</code> (pipe).<br />
                They include all keywords and card attributes (see examples below).<br />
                All filters ignore symbols and are case-insensitive.
              </p><p>
                You can use initials and/or truncations, with the same rules as with card names. Some filters can accept common shortforms (e.g. <code>|cmdr</code> to match Commanders).<br />
                <code>|rob |lw</code><br />
                <code>|rise |last</code>
              </p><p>
                If you use a filter that doesn't fit any of the categories below, it's used to search inside card descriptions.<br />
                <code>|end of your turn |Mysteria card</code><br />
                <code>|+2/+2</code>
              </p>


              <h4>Filter examples</h4>
              <p>
                Keywords<br />
                <code>|ward |lw |er |necro</code><br />
              </p><p>
                Craft, rarity, set, format<br />
                <code>|bloodcraft |rune</code><br />
                <code>|gold |lego</code><br />
                <code>|standard |totg |token</code><br />
                <code>|rotation |unlim</code>
              </p><p>
                Card type and trait<br />
                <code>|amulet |spell |foll</code><br />
                <code>|officer |cmdr |sigil</code>
              </p><p>
                PP cost<br />
                <code>|7pp</code><br />
              </p>

            </div>
          </div>
        </div> <!-- tab-content -->
{% endblock %}
