{% block tablist %}
        <li class="nav-item">
          <a class="nav-link active" id="sv-tab" data-toggle="tab" href="#sv" role="tab" aria-controls="sv" aria-selected="true">Shadowverse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="kr-tab" data-toggle="tab" href="#kr" role="tab" aria-controls="kr" aria-selected="false">King's Raid</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">Others</a>
        </li>
{% endblock %}